body{
    background-color: rgb(255, 255, 255);
    background-image: url("");
    background-position: center;
}
ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 167, 211);

}
li.linav{
    float:left;
}
li.linav a{
    display: block;
    color:blue;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
li.linav a.active{
    display: block;
    color:rgb(255, 0, 21);
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color: darkslateblue;
}
span.subtitle{
    font-size: 13pt;
    color:rgb(58, 66, 187);
    font-family: verdana;
}
span.maintitle{
    font-size: 18pt;
    color:rgb(58, 66, 187);
    font-family: verdana;
}
a.nav{
    font-size: 12pt;
    color:rgb(0, 0, 0)
    font-family: verdana;
    text-decoration: none;
}
a.nav:hover{
    font-size: 14pt;
    color:rgb(255, 0, 255)
    font-family:verdana;
    text-decoration:none;
}
