body{
    background-color: ;
    background-image: url("");
    background-position: center;
}
ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 167, 211);

}
li.linav{
    float:left;
}
li.linav a{
    display: block;
    color:blue;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
li.linav a.active{
    display: block;
    color:rgb(255, 0, 21);
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color: darkslateblue;
}